@use '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

h1 {
  font-family: 'Caveat', cursive;
}

.introductionss {
  border-top: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
  padding-top: 2em;
}
.imagetop {
  border-bottom: 2px solid #aaa;
  padding-bottom: 1em;
}

.home {
  text-aligen: center;
}
.edit {
  border: 2px solid #aaa;

  padding: 2em;
  border-radius: 15px;
}
.homeinfo{
  border: 2px solid #aaa;

  border-radius: 15px;
}
.card {
  margin: 20px;
}

.card-body {
  padding-top: 0.5em;

}

.media-card {
  margin: 20px;
  padding-top: 1.5em;

  padding-right: 0.5em;
  padding-left: 0.5em;
}

.line {
  height: 32.5px;
  padding-top: 0.5em;
  border-bottom: 1px solid #aaa;
}

.sidebar {
  border: 2px solid #aaa;

  padding: 1em;
  border-radius: 15px;
}

.comment {
  border: 2px solid #aaa;
  border-radius: 15px;
  margin-top: 10px;
  padding-top: 5px;
}

.mypage {
  border: 2px solid #aaa;

  border-radius: 15px;
  padding: 2em;
}

.enduser {
  border: 2px solid #aaa;

  border-radius: 15px;
  padding-left: 2em;
  padding-right: 2em;
}
.list-group {
  border: 2px solid #aaa;
　padding: 2em;
}

.compile {
  padding-top: 2em;
}

.status {
  padding-bottom: 2em;
}

.sidetable {
  width: 100%;
}
.sidetable tr {
  height: 25px;
}

.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

a.btn--radius {
   border-radius: 100vh;
}

a.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

a.btn--circle {
  border-radius: 50%;
  line-height: 50px;
  width: 50px;
  height: 50px;
  padding: 0;
}


.pagination {
  justify-content: center;
}


.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}

.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
}

.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
}

.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}

.item {
   border-Top: 1px solid #333;    /* 上側の1本線 */
   padding: 1em;
}


.user-group{
  margin: 20px;
  border: 2px solid #aaa;
  border-radius: 15px;
  padding-top: 1em;
}

.sample {
 padding-top: 0.5em;
}

.text-body {
  border: 2px solid #aaa;
  padding: 0.5em;
}
.uses{
  background-color:#EEEEEE;
  padding: 0.5em;
}

.forr{
  padding: 0.5em;
}

.slick-next{ right:0!important; }
.slick-prev{ left:0!important; }
.slick-arrow{ z-index:2!important; }

.slider {
  text-align:center;
}

.nav-items {
  border-bottom: 1px solid #333;
}

.media-body {
  margin-left: 10px;
}

.user-badge {
  border: 2px solid #FFCC99;
  border-radius: 15px;
  display:inline-block;
  padding: 0.5em;
}

.slide-arrow {
  background-color: #333;
  bottom: 0;
  height: 0;
  margin: auto;
  position: absolute;
  top: 0;
  width: 0;
}
.prev-arrow {
  border-bottom: 20px solid  #fff;
  border-left: 0;
  border-right: 20px solid #000;
  border-top: 20px solid #fff;
  left: -40px;
}
.next-arrow {
  border-bottom: 20px solid  #fff;
  border-left: 20px solid #000;
  border-right: 0;
  border-top: 20px solid #fff;
  right: -40px;
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  padding: 0;
}
