@use '~bootstrap/scss/bootstrap';

.edit {
  border: 2px solid #aaa;

  padding: 2em;
  border-radius: 15px;
}

.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

a.btn--radius {
   border-radius: 100vh;
}

a.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

a.btn--circle {
  border-radius: 50%;
  line-height: 50px;
  width: 50px;
  height: 50px;
  padding: 0;
}


.pagination {
  justify-content: center;
}


.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}

.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
}

.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
}

.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}