<div class="genre_search">
    <tr>
    <div class="form-group">
    <%= form_with url: searches_genre_search_path, method: :get do |f| %>
    <%= f.label :ジャンル検索 %>
    <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %>
    <%= f.submit "検索", class: 'btn btn-info' %>
    <% end %>
    </div>
   </tr>
</div>


