<footer>
  <div class='container mt-5'>
  	<div class='row'>
  	  <div class="pull-left">
      <%= link_to 'Back','javascript:history.back()' %>
      </div>
    	<div class='mx-auto'>
    		<p>Cappy Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>
