<footer>
  <div class='container mt-5'>
  	<div class='row'>
  	  <div class="pull-left">
      <%= link_to 'Back','javascript:history.back()',class: "text-dark" %>
      |&nbsp;<%= link_to 'Top',root_path,class: "text-dark" %>
      </div>
    	<div class='mx-auto'>
    		<p class="foot">Cappy Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>
